<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <Appenders>
<!--        <File name="FILE" fileName="..\webapps\my-web-project\app.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-12.12t] &lt;%-5p&gt;-->
<!--                    &lt;%m&gt;%n-->
<!--                </Pattern>-->
<!--            </PatternLayout>-->
<!--        </File>-->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-12.12t] &lt;%-5p&gt;
                    &lt;%m&gt;%n
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
<!--            <AppenderRef ref="FILE"/>-->
            <AppenderRef ref="STDOUT"/>

        </Root>
    </Loggers>
</log4j:configuration>